footer {
  background: #333; 
  @include clear();
}

.footerContainer {
  width: 88%;
  margin: 0 auto;
  .footerFirstRow {
    @include clear();
    .footerHeading {
      float: left;
      width: 70%;
    }
    .footerSocial {
      float: left;
      width: 30%;
    }
  }
  .footerSecondRow {
    @include clear();
    .footerMenu {
      margin: 0; 
      padding-bottom: 20px;
      width: 180px;
      li {
        @include gotham-book();
        text-align: right;
        margin: 10px 0;
        a {
          color: #FFF;
        }
      }
    }
  }

  .footerThirdRow {
    text-align: center;
    .footerCopyright {
      @include gotham-book();
      font-size: $font-size-14;
      padding: 15px 0;
    }
  }
}

.footerHeading {
  h2.tungsten-head {
    color: #FFF;
    @include breakpoint(tabletlandscape) {
      display: inline-block;
    }
    display: block;
    font-size: $font-size-40;
    @include tungsten-semibold();
  }
  p.footerTag {
    margin: 0 0 0 15px;
    padding: 0;
    display: block;
    @include breakpoint(tabletlandscape) {
      display: inline-block;
    }
    @include gotham-book();
  }
}

.footerSocial {
  position: relative;
  top: 40px;
  left: 40px;
  padding: 0;
  margin: 0;
  li:first-child {
    margin-left: 0;
  }
  li {
    display: inline-block;
    font-size: $font-size-40;
    margin-left: 25px;
  }
}
