footer {
  background: #333; 
  @include clear();
}

.footerContainer {
  width: 88%;
  margin: 0 auto;
  .footerFirstRow {
    padding: 20px;
    @include clear();
    .footerHeading {
      float: none;
      width: 100%;
      @include breakpoint(tabletportrait) {
        float: left;
        width: 70%;
      }
    }
    .footerSocial {
      float: none;
      width: 100%;
      @include breakpoint(tabletportrait) {
        float: left;
        width: 30%;
      }
      a {
        color: #F3F3F3;
      }
      a:hover {
        color: #CCC;
      }
    }
  }
  .footerSecondRow {
    @include clear();
    .footerMenu {
      margin: 0; 
      width: 100%;
      @include breakpoint(tabletportrait) {
        padding-bottom: 20px;
        width: 180px;
      }
      li {
        @include gotham-book();
        text-align: left;
        @include breakpoint(tabletportrait) {
          text-align: right;
        }
        margin: 10px 0;
        a {
          color: #FFF;
        }
      }
    }
  }

  .footerThirdRow {
    text-align: center;
    .footerCopyright {
      @include gotham-book();
      font-size: $font-size-14;
      padding: 15px 0;
    }
  }
}

.footerHeading {
  h2.tungsten-head {
    color: #FFF;
    margin: 0;
    @include breakpoint(tabletlandscape) {
      display: inline-block;
    }
    display: block;
    font-size: $font-size-40;
    @include tungsten-semibold();
  }
  p.footerTag {
    margin: 0;
    padding: 0;
    display: block;
    @include breakpoint(tabletlandscape) {
      display: inline-block;
      margin: 0 0 0 15px;
    }
    @include gotham-book();
  }
}

.footerSocial {
  padding: 0;
  margin: 20px 0;
  text-align: center;
  @include breakpoint(tabletportrait) {
    margin: 0;
    position: relative;
    text-align: right;
    top: 10px;
    left: 40px;
  }
  li:first-child {
    margin-left: 0;
  }
  li {
    display: inline-block;
    font-size: $font-size-34;
    margin-left: 25px;
  }
}
