header {
  @include breakpoint(tabletportrait) {
    display: table !important;
    margin: 15px 0;
  }
  vertical-align: middle;
  width: 100%;
}

.headerContainer {
  h1.tungsten-head {
    text-align: center;
    white-space: nowrap;
    display: inline-block; 
    margin-left: 10px; 
    font-size: $font-size-56;
    margin-bottom: 0;
    margin-top: 10px;
    @include breakpoint(tabletportrait) {
      font-size: $font-size-72;
    }
  }
  .menu-icon {
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    display: inline-block;
    position: relative;
    padding: 10px 10px 2px 10px;
    margin-left: 10px;
    bottom: 3px;
    background: #333; 
    @include breakpoint(tabletportrait) {
      display: none;
    }
  }
  min-width: 20em;
  text-align: center;
  width: 100%;
  @include breakpoint(tabletportrait) {
    width: 32%; 
  }
}

.navContainer {
  width: 100%;
  @include breakpoint(tabletportrait) {
    width: 68%;
  }
}

.headerContainer,
.navContainer {
  @include breakpoint(tabletportrait) {
    max-width: none;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }
}

.navContent {
  text-align: center;
  @include breakpoint(tabletportrait) {
    text-align: right;
  }
  margin-top: 15px;
  margin-bottom: -5px;
  li {
    background: #333;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    display: block;
    padding: 20px 0;
  }
  @include breakpoint(tabletportrait) {
    li {
      background: transparent;
      border-bottom: none;
      display: inline-block;
      padding: 0 1.5em;
    }
  }
}

.navContent ul {
  margin: 0;
}

.navContent li a {
  @include gotham-light();
  color: #FFF;
  font-size: $font-size-24;
  @include breakpoint(tabletportrait) {
    color: #333;
    font-size: $font-size-20;
  }
}

nav[role=navigation] {
  clear: both;
  transition: all 0.3s ease-out;
}

.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
  @include breakpoint(tabletportrait) {
    max-height: 15em;
  }
}

nav[role=navigation].active {
  max-height: 18em;
}
