.featuredArticle {
  position: relative;

  .featureText {
    color: #FFF;
    width: 10em;
    text-shadow: 0 0 10px rgba(0,0,0,0.35);
  }

  .featureHeading {
    @include mobile-portrait-and-below() {
      display:none;
    }
    position: absolute;
    top: 0;
    left: 30px;    
    @include gotham-medium();
    font-size: $font-size-24;
    line-height: 28px;
    @include breakpoint(tabletportrait) {
      font-size: $font-size-40;
      line-height: 45px;
    }
  }

  .author {
    position: absolute;
    bottom: 10px;
    left: 30px;    
    @include mobile-portrait-and-below() {
      display: none;  
    }
    img {
      border-radius: 50px;
      display: inline-block;
      width: 50px;
      height: 50px;
    }
    .featureAuthor {
      display: inline-block;
      @include gotham-book();
      font-size: $font-size-20;
      position: relative;
      bottom: 15px;
    }
  }
  img {
    width: 100%;
  }
}

.primaryContainer {
  @include clear();

  .primaryContent {
    min-height: 675px;
    @include breakpoint(tabletportrait) {
      width: 96%;
      float: left;
      margin-left: -300px;
      box-sizing: border-box;
    }
    .content {
      @include breakpoint(tabletportrait) {
        margin-left: 300px;
      }
    }
  }

  .trending-horizontal {
    ul {
      @include clear();
      li {
        float: left;
        margin-left: 10px;
        width: 30.3333%;
        img {
          max-width: 100%;
          min-width: 314px;
          min-height: 210px;
        }
      }
      li:first-child {
        margin-left: 0;
      }
    }
  }

  .sidebarContainer {
    min-height: 675px;
    @include breakpoint(tabletportrait) {
      width: 300px;
      float: right;
      clear: right;
    }

  }
}