.featuredArticle {
  position: relative;

  .featureText {
    color: #FFF;
    width: 10em;
    text-shadow: 0 0 10px rgba(0,0,0,0.35);
  }

  .featureHeading {
    @include mobile-portrait-and-below() {
      display:none;
    }
    position: absolute;
    top: 0;
    left: 30px;    
    @include gotham-medium();
    font-size: $font-size-24;
    line-height: 28px;
    @include breakpoint(tabletportrait) {
      font-size: $font-size-40;
      line-height: 45px;
    }
  }

  .author {
    position: absolute;
    bottom: 10px;
    left: 30px;    
    @include mobile-portrait-and-below() {
      display: none;  
    }
    img {
      border-radius: 50px;
      display: inline-block;
      width: 50px;
      height: 50px;
    }
    .featureAuthor {
      display: inline-block;
      @include gotham-book();
      font-size: $font-size-20;
      position: relative;
      bottom: 15px;
    }
  }
  img {
    width: 100%;
  }
}

.primaryContainer {
  @include clear();

  .primaryContent {
    //min-height: 675px;
    @include breakpoint(tabletportrait) {
      width: 96%;
      float: left;
      margin-left: -300px;
      box-sizing: border-box;
    }
    .content {
      margin-bottom: 2.5em;
      @include breakpoint(tabletportrait) {
        margin-left: 300px;
      }
    }
  }

  .sidebarContainer {
    min-height: 675px;
    @include breakpoint(tabletportrait) {
      width: 300px;
      float: right;
      clear: right;
    }
  }
}

.trending-horizontal {
  ul {
    @include clear();
    li {
      float: left;
      margin-left: 10px;
      width: 30.3333%;
      position: relative;
      .trendingOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.35);        
      }
      p {
        @include gotham-book();
        font-size: $font-size-24;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 0;
        color: #FFF;
        text-shadow: 0 0 10px rgba(0,0,0,0.35);
        width: 100%;
        line-height: 1.2em;
      }
      img {
        max-width: 100%;
      }
    }
    li:first-child {
      margin-left: 0;
    }
  }
}

.articleCaption {
  @include clear();
  box-sizing: border-box;
  margin-top: 2.5em;
  .articleThumbImg {
    float: left;
    width: 35%;
    img {
      max-width: 100%;
      height: 300px;
    }
  }
  .articleMeta {
    float: left;
    width: 63%;
    margin-left: 2%;
    height: 300px;
    overflow: hidden;
    h2 {
      margin: 0;
    }
    .articleAuthor,
    .articleSnippet {
      color: #333;
      margin: 0;
      padding: 5px 0; 
    }
    .articleAuthor {
      span {
        @include gotham-book();
        text-transform: uppercase;
        position: relative;
        right: 5px;
      }
      color: #666;
      font-size: $font-size-14;
      position: relative;
      left: 5px;
    }
  }
}

.team-container {
  h3 {
    text-align: center;
  }
  h3.tungsten-head {
    @include tungsten-book();
    text-align: center;
    font-size: 30px;
    margin: 15px;
    text-transform: uppercase;
  }

  ul {
    text-align: center;
    li {
      margin-bottom: 50px;
      img {
        border-radius: 125px;
        width: 150px;
        height: 150px;
      }
      p {
        line-height: 0;
        color: #333;
      }
      p.teamArticleTitle {
        line-height: 1.2em;
        @include gotham-light();
        color: #333;
        font-size: $font-size-18;
      }
    }
  }
}

footer {
  background: #333; 
  @include clear();
}

.footerContainer {
  width: 88%;
  margin: 0 auto;
  .footerFirstRow {
    @include clear();
    .footerHeading {
      float: left;
      width: 70%;
    }
    .footerSocial {
      float: left;
      width: 30%;
    }
  }
  .footerSecondRow {
    @include clear();
    .footerMenu {
      margin: 0; 
      padding-bottom: 20px;
      width: 180px;
      li {
        @include gotham-book();
        text-align: right;
        margin: 10px 0;
        a {
          color: #FFF;
        }
      }
    }
  }

  .footerThirdRow {
    text-align: center;
    .footerCopyright {
      @include gotham-book();
      font-size: $font-size-14;
      padding: 15px 0;
    }
  }
}

.footerHeading {
  h2.tungsten-head {
    color: #FFF;
    display: inline-block;
    font-size: $font-size-40;
    @include tungsten-semibold();
  }
  p.footerTag {
    margin: 0 0 0 15px;
    padding: 0;
    display: inline-block;
    @include gotham-book();
  }
}

.footerSocial {
  position: relative;
  top: 40px;
  left: 40px;
  padding: 0;
  margin: 0;
  li:first-child {
    margin-left: 0;
  }
  li {
    display: inline-block;
    font-size: $font-size-40;
    margin-left: 25px;
  }
}
