<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="style.css" type="text/css" media="screen">
        <link rel="stylesheet" type="text/css" href="components/normalize-css/normalize.css">
        <link rel="stylesheet" href="webfonts/ss-social-regular.css" />
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6676432/719822/css/fonts.css" />

        
        <title>The Magazine</title>
    </head>
    <body>
        <div class="wrap">

        <header>
            <div class="headerContainer">
                <h1 class="tungsten-head">The Magazine</h1>
                <div class="menu-icon" data-std-icon="&#xE9A1;"></div>
            </div>
            <div class="navContainer">
                <nav class="navContent" role="navigation">
                    <ul>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Columns</a></li>
                        <li><a href="#">Contributors</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="featuredArticle">
            <p class="featureText featureHeading">The Never Ending Road Ahead.</p>
            <img src="images/carmel_opt_1600x600.png" alt="The Never Ending Road Ahead.">
            <div class="author">
                <img src="images/cameron_avatar.png" alt="Cameron Russell">
                <p class="featureText featureAuthor">By Cameron Russell</p>
            </div>
        </section>

        <div class="primaryContainer">
            <div class="primaryContent">
                <section class="content">
                    <div class="trending-horizontal">
                        <h3>Trending</h3>
                        <ul>
                            <li><a href="#"><img src="images/color-correct-coffee_400.png"><p>That perfect cup of coffee</p></a></li>
                            <li><a href="#"><img src="images/girl-flowers_400.jpg"><p>Summer Fashion</p></a></li>
                            <li><a href="#"><img src="images/playball_400.jpg"><p>America's pastime</p></a></li>
                        </ul>
                    </div>
                    <article class="articleCaption">
                        <div class="articleThumbImg">
                            <img src="images/man-fishing_500.jpg">
                        </div>
                        <div class="articleMeta">
                            <h2>Hilton Head shores are not usually known for relaxation.</h2>
                            <p class="articleAuthor"><span>By</span>Veroncia Belmont</p>
                            <p class="articleSnippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </article>
                    <article class="articleCaption">
                        <div class="articleThumbImg">
                            <img src="images/unsplash-kitsune-4_500.jpg">
                        </div>
                        <div class="articleMeta">
                            <h2>Turn tables make a huge splash with the millennial generation.</h2>
                            <p class="articleAuthor"><span>By</span>Phillip Swagel</p>
                            <p class="articleSnippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </article>
                    <article class="articleCaption">
                        <div class="articleThumbImg">
                            <img src="images/Top_view_500.jpg">
                        </div>
                        <div class="articleMeta">
                            <h2>Show us your must have essentials.</h2>
                            <p class="articleAuthor"><span>By</span>Phillip Swagel</p>
                            <p class="articleSnippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </article>
                     <article class="articleCaption">
                        <div class="articleThumbImg">
                            <img src="images/green-bike_500.jpg">
                        </div>
                        <div class="articleMeta">
                            <h2>Maybe it's time to get rid of that old wood shed.</h2>
                            <p class="articleAuthor"><span>By</span>Phillip Swagel</p>
                            <p class="articleSnippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </article>
                </section>
            </div>

            <div class="sidebarContainer">
                <div class="team-container">
                    <h3>Our Team</h3>
                    <ul>
                        <li>
                            <img src="images/veronicab.png">
                            <h3 class="tungsten-head">Veronica Belmont</h3>
                            <p>Latest Article</p>
                            <p class="teamArticleTitle">Hilton Head shores are not usually known for relaxation.</p>
                        </li>
                        <li>
                            <img src="images/cameronr_250.png">
                            <h3 class="tungsten-head">Cameron Russell</h3>
                            <p>Latest Article</p>
                            <p class="teamArticleTitle">The Never Ending Road Ahead</p>
                        </li>
                        <li>
                            <img src="images/phillip.png">
                            <h3 class="tungsten-head">Phillip Swagel</h3>
                            <p>Latest Article</p>
                            <p class="teamArticleTitle">Housing reform brings local area into crisis mode.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <footer>
            <div class="footerContainer">
                <h2 class="tungsten-head">The Magazine</h2>
            </div>
        </footer>

        </div> <!-- end of wrap -->
        <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript" src="components/prefix-free/prefixfree.js"></script>
    </body>
</html>
