<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="style.css" type="text/css" media="screen">
        <link rel="stylesheet" type="text/css" href="components/normalize-css/normalize.css">
        <link rel="stylesheet" href="webfonts/ss-social-regular.css" />
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6676432/719822/css/fonts.css" />

        
        <title>The Magazine</title>
    </head>
    <body>
        <div class="wrap">

        <header>
            <div class="headerContainer">
                <h1 class="tungsten-head">The Magazine</h1>
                <div class="menu-icon" data-std-icon="&#xE9A1;"></div>
            </div>
            <div class="navContainer">
                <nav class="navContent" role="navigation">
                    <ul>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Columns</a></li>
                        <li><a href="#">Contributors</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="featuredArticle">
            <p class="featureText"></p>
            <img src="images/carmel_opt_1600x600.png">
        </section>

        <footer>
        </footer>

        </div> <!-- end of wrap -->
        <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript" src="components/prefix-free/prefixfree.js"></script>
    </body>
</html>
