<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="style.css" type="text/css" media="screen">
        <link rel="stylesheet" type="text/css" href="components/normalize-css/normalize.css">
        <link rel="stylesheet" href="webfonts/ss-social-regular.css" />
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6676432/719822/css/fonts.css" />

        
        <title>The Magazine</title>
    </head>
    <body>
        <div class="wrap">

        <header>
            <div class="headerContainer">
                <h1 class="tungsten-head">The Magazine</h1>
                <div class="menu-icon" data-std-icon="&#xE9A1;"></div>
            </div>
            <div class="navContainer">
                <nav class="navContent" role="navigation">
                    <ul>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Columns</a></li>
                        <li><a href="#">Contributors</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="featuredArticle">
            <p class="featureText featureHeading">The Never Ending Road Ahead.</p>
            <img src="images/carmel_opt_1600x600.png" alt="The Never Ending Road Ahead.">
            <div class="author">
                <img src="images/cameron_avatar.png" alt="Cameron Russell">
                <p class="featureText featureAuthor">By Cameron Russell</p>
            </div>
        </section>

        <div class="primaryContainer">
            <div class="primaryContent">
                <section class="content">
                    <div class="trending-horizontal">
                        <h3>Trending</h3>
                        <ul>
                            <li><a href="#"><img src="images/color-correct-coffee_400.jpg"></a></li>
                            <li><a href="#"><img src="images/girl-flowers_400.jpg"></a></li>
                            <li><a href="#"><img src="images/playball_400.jpg"></a></li>
                        </ul>
                    </div>
                </section>
            </div>

            <div class="sidebarContainer">
            </div>
        </div>

        <footer>
        </footer>

        </div> <!-- end of wrap -->
        <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript" src="components/prefix-free/prefixfree.js"></script>
    </body>
</html>
