<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="style.css" type="text/css" media="screen">
        <link rel="stylesheet" type="text/css" href="components/normalize-css/normalize.css">
        <link rel="stylesheet" href="webfonts/ss-social-circle.css" />
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6676432/719822/css/fonts.css" />

        
        <title>The Magazine</title>
    </head>
    <body>
        <div class="wrap">

        <header>
            <div class="headerContainer">
                <h1 class="tungsten-head">The Magazine</h1>
                <div class="menu-icon" data-std-icon="&#xE9A1;"></div>
            </div>
            <div class="navContainer">
                <nav class="navContent" role="navigation">
                    <ul>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Columns</a></li>
                        <li><a href="#">Contributors</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="wrap">
            <section class="featuredArticle">
                <img src="images/girl-flowers_1600_opt.jpg" alt="Quick glance on this summer's fashion trends.">
            </section>
            <section id="content" class="grid">
                <div class="col-1-4"></div>
                <div class="col-1-2">
                    <h2 class="tungsten-head">Quick glance on this summer's fashion trends.</h2>
                    <div class="postAuthor">
                        <p class="articleAuthor"><span>By</span>Veroncia Belmont</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="col-1-4"></div>
            </section>
        </div>
        <footer>
            <div class="footerContainer">
                <div class="footerFirstRow">
                    <div class="footerHeading">
                        <h2 class="tungsten-head">The Magazine</h2>
                        <p class="footerTag">A Lifestyle magazine to help you bring your world in full view.</p>
                    </div>
                    <ul class="footerSocial">
                        <li><a href="#" data-social-icon="&#xF610;"></a></li>
                        <li><a href="#" data-social-icon="&#xF611;"></a></li>
                        <li><a href="#" data-social-icon="&#xF641;"></a></li>
                    </ul>
                </div>
                <div class="footerSecondRow">
                    <ul class="footerMenu">
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Columns</a></li>
                        <li><a href="#">Contributors</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
                <div class="footerThirdRow">
                    <p class="footerCopyright">2013 © The Magazine</p>
                </div>
            </div>

        </footer>
        <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript" src="components/prefix-free/prefixfree.js"></script>
    </body>
</html>